.button-group-align-justify,
.button-group-align-justify * {
  box-sizing: border-box;
}
.button-group-align-justify {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-400, 16px);
  align-items: center;
  justify-content: flex-start;
  width: 240px;
  position: relative;
}
.button-group-align-justify .button-instance {
  flex: 1 !important;
}

/* nested override styles */
