.home-page,
.home-page * {
  box-sizing: border-box;
}
.home-page {
  background: #000000;
  height: 1117px;
  position: relative;
  overflow: hidden;
}
.home-page .group-1 {
  position: absolute;
  inset: 0;
}
.home-page .vibe-check {
  color: #ffffff;
  text-align: center;
  font-family: "Jersey25-Regular", sans-serif;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 417px;
  top: 451px;
  width: 894px;
  height: 171px;
}
.home-page .log-in-instance {
  position: absolute !important;
  left: 840px !important;
  top: 1021px !important;
  flex-shrink: unset !important;
}
.home-page .search-bar-instance {
  background: var(--schemes-surface-container-highest, #e6e0e9) !important;
  width: 360px !important;
  position: absolute !important;
  left: 684px !important;
  top: 605px !important;
}
